<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Polite Mail | Group Project by Team #2</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,400;8..144,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<header class="bg-light-gray flex items-center justify-between pb-2">
    <div class="logo">
      <a href="/"> <img src="/images/Polite-Email.png" alt="Polite-Mail"> </a>
    </div>
    <nav class="flex items-center text-base leading-5">
      <div class="container mx-auto flex flex-col lg:flex-row list-none mr-auto">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a class="p-1 font-medium sm:p-4" href="/profile">profile</a> |
        <a class="p-1 font-medium sm:p-4" href="/professional-email">Professional E-mail</a> |
        <a class="p-1 font-medium sm:p-4" href="/appreciationletter">Appreciation Letter</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a class="p-1 rounded-lg font-medium sm:p-4" href="/contact">Contact</a>
        <a class="signUpBtn border rounded-lg bg-opacity-20 py-3 px-6 text-base font-medium duration-300 ease-in-out hover:bg-opacity-100" href="/login">login</a>        
        {{/if}}
  
        <!--
            <a href="/">Home</a>
            <a href="/generate">Generate</a>
            <a href="/contact">Contact</a>
            -->
      </div>
    </nav>
  </header>
 <body>

    <div class="main-content">
      {{{body}}}
    </div>
  
  <footer>  </footer>
  <!-- Render script for logged in users only -->
  
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>
 

</html>