<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Polite Mail | Group Project by Team #2</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,400;8..144,600&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <script
    src = "https://cdn.jsdelivr.net/gh/KodingKhurram/animate.css-dynamic@v1.1.3/animate.min.js">
  </script>
</head>
<header class="flex items-center justify-between pb-2">
    <div class="logo">
      <a href="/"> <img src="/images/Polite-Email.png" alt="Polite-Mail"> </a>
    </div>
    <nav class="flex items-center text-base leading-5">
      <div class="container mx-auto flex flex-col lg:flex-row list-none mr-auto">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}

        
        <a class="p-1 font-medium sm:p-4" href="/generate">Professional E-mail</a> <span class="text-white text-2xl nav-divider">|</span>
        <a class="p-1 font-medium sm:p-4" href="/appreciation">Appreciation Letter</a>
        <button class="btn-logout border rounded-lg bg-opacity-20 py-3 px-6 text-base font-medium duration-300 ease-in-out hover:bg-opacity-100 no-button" id="logout">logout</button>

        {{else}}
        <a class="p-1 rounded-lg font-medium sm:p-4" href="/signup">signup</a>
        <a class="p-1 rounded-lg font-medium sm:p-4" href="/contact">Contact</a>
        <a class="signUpBtn border rounded-lg bg-opacity-20 py-3 px-6 text-base font-medium duration-300 ease-in-out hover:bg-opacity-100" href="/login">login</a>        
        {{/if}}
  
        <!--
            <a href="/">Home</a>
            <a href="/generate">Generate</a>
            <a href="/contact">Contact</a>
            -->
      </div>
    </nav>
  </header>
 <body>

    <div class="main-content pt-20">
      {{{body}}}
    </div>
  
  <footer class="pb-5">
    <div class="container m-auto p-8 text-white">
      <div class="flex -mx-2 mb-8">
        <div class="w-1/3 px-2">
            <div class="bg-grey-light h-12">Polite-Mail.</div>
        </div>
        <div class="w-1/3 px-2">
            <div class="bg-grey h-12">
              <h3>The Team</h3>
              <p><a href="" target="_blank"><i class="fa-brands fa-linkedin"></i> Christiana</a></p>
              <p><a href="" target="_blank"><i class="fa-brands fa-linkedin"></i> Gedion</a></p>
              <p><a href="" target="_blank"><i class="fa-brands fa-linkedin"></i> Sherrick</a></p>
              <p><a href="" target="_blank"><i class="fa-brands fa-linkedin"></i> Hasnain</a></p>
            </div>
        </div>
        <div class="w-1/3 px-2">
            <div class="bg-grey-light h-12">
              <a href="https://github.com/SherrickM/polite-mail" target="_blank"><i class="text-6xl fa-brands fa-github-square"></i> Project Repository</a>
            </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Render script for logged in users only -->
  
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>
 

</html>