<section class="flex flex-row justify-center w-full items-start text-center mb-10">
  <div class="container flex flex-row w-full">
    <div class="-mx-4 flex flex-wrap w-full">
      <div class="w-full px-4">
        <h1 class="text-mauve font-black animate__animated animate__fadeInDown leading-10 mb-10">Appreciation Letter</h1>
        <p class="max-w-5xl mx-auto text-center text-2xl text-dark-gray font-semibold animate__animated animate__fadeInLeftBig"><span class="text-dark-purple font-extrabold">Need help</span> finding the “write words”? Send your spouse, friend or even a new business a quick note to let them know you appreciate everything that they do</p>
      </div>
    </div>
  </div>
</section>

<section class="flex flex-row justify-center w-full">
  <div class="container flex flex-row">
    <div class="flex w-full -mx-2 mb-8 respond-col">
      <div class="flex w-full md:w-1/2 lg:w-1/4 px-2 animate__animated animate__fadeInUpBig">

        <div class="flex-col w-full border border-dark-red overflow-hidden rounded-lg bg-white px-5 text-center py-8">
          <div class="text-6xl text-turquoise mb-6">
            <iclass="fa-brands fa-atlassian"></i>
          </div>
            <h2 id="header">Start the generate email, <span class="text-mauve font-black ">{{user.name}}</span></h2>

          <div class="w-full" id="screen-one">
            <!-- Start screen one FORM -->
            <form class="form user-input-form" id="user-input-form">
              <div class="form-group">
                <label class="opacity-0" for="first-name">Your Name</label>
                <input
                  class="border-[#E9EDF4] w-full rounded-md border bg-[#FCFDFE] py-3 px-5 text-base text-body-color placeholder-[#ACB6BE] outline-none transition focus:border-primary focus-visible:shadow-none form-input"
                  placeholder="Your Name" type="text" value="" id="sender-name" required />
              </div>
              <div class="form-group">
                <label class="opacity-0" for="recipient-name">Last Name</label>
                <input
                  class="border-[#E9EDF4] w-full rounded-md border bg-[#FCFDFE] py-3 px-5 text-base text-body-color placeholder-[#ACB6BE] outline-none transition focus:border-primary focus-visible:shadow-none form-input"
                  placeholder="Recipient Name" type="text" value="" id="recipient-name" required/>
              </div>
              <div class="form-group">
                <label class="opacity-0" for="email-concern">Subject</label>
                <textarea
                  class="border-[#E9EDF4] w-full rounded-md border bg-[#FCFDFE] py-3 px-5 text-base text-body-color placeholder-[#ACB6BE] outline-none transition focus:border-primary focus-visible:shadow-none form-input"
                  rows="4" cols="50" placeholder="Subject" type="text" value="" id="email-concern" required /></textarea>
              </div>
              <div class="form-group">
                <button
                  class="border-primary w-full cursor-pointer rounded-md border bg-green py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 "
                  type="submit" id="submit-screen-one">Submit</button>
              </div>
            </form>
          </div> <!-- End screen one -->

          <div class="w-full hide" id="screen-two">
            <!-- Start screen two -->
            <h2>Screen 2 - Intro</h2>
            <div class="w-full animate__animated animate__fadeIn">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-purple py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 intro"
                type="submit" value="Thank you! I was just thinking about you and wanted to send you a note to say hi and thank you." id="intro-option-a">Thinking about you</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-1s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-purple py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 intro"
                type="submit" value="Grand Rising! I just wanted to let you know that you have been such a great friend and for that I am thankful." id="intro-option-b">You’re a great friend</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-2s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-purple py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 intro"
                type="submit" value="Greetings! I wanted to send you a quick note to say thank you for all that you do." id="intro-option-c">Thanks for all you do</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-3s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-purple py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 intro"
                type="submit"
                value="Hi! I just wanted to say thank you.Thank you for your business, your trust, and your confidence. It is our pleasure to work with you"
                id="intro-option-d"
                             >Thank you for your business</button>

            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-4s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-purple py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 intro"
                type="submit" value=":-) You crossed my mind this morning and I wanted to send you a note to just let you know I appreciate you. " id="intro-option-e">You crossed my mind</button>
            </div>
          </div>
          <!-- End screen two -->

          <div class="w-full hide" id="screen-three">
            <!-- Start screen two -->
            <h2>Screen 3 - body</h2>
            <div class="w-full animate__animated animate__fadeIn">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-gray py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 email-body"
                type="submit" value="We’re grateful for the trust you’ve placed in us. Delivering knock-your-socks-off, exceptional service each and every time is top priority." id="body-option-a">You placed your trust in us</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-1s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-gray py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 email-body"
                type="submit" value="You are great listener and always provide solid feedback with genuine and constructive criticism. You're a good friend and I value you for being in my life." id="body-option-b">You're a great listener</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-2s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-gray py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 email-body"
                type="submit"
                value="Thank you for always taking the time out of your day to see how I am doing. I know that life is busy, but it's nice to know that their is always someone who cares. You take time out of your day for me and I appreciate that." 
                id="body-option-c"
              >Thank you for checking in</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-3s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-gray py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 email-body"
                type="submit" value="Together we're making life what we want it to be... Full of love laughter and family those things that really matter to us. And in case I dont say it enough, I love the life we've made. It's good. It's happy."
                id="body-option-d"
              >Together we're making life</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-4s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-gray py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 email-body"
                type="submit" value="I’m just cc’ing my colleague." id="body-option-d">You’re incompetent, and I’m
                making sure other people are here to
                witness your huge f-up so I don’t get the blame</button>
            </div>
          </div>
          <!-- End screen three -->

          <div class="w-full hide" id="screen-four">
            <!-- Start screen four -->
            <h2>Screen 4 - Outro</h2>
            <div class="w-full animate__animated animate__fadeIn">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 future"
                type="submit" value="Thank you for putting your trust and confidence in our company. We won’t settle for less than the best for you!" id="future-option-a">Thank you for the trust and confidence</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-1s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 future"
                type="submit" value="Again, thank you so much. I greatly appreciate everything you do seen and unseen." id="future-option-b">Thanks Again</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-2s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 future"
                type="submit" value="Thank you for making us your first choice, or at least your final choice :-)." id="future-option-c">Thanks for choosing us</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-3s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 future"
                type="submit" value="Again, thank you for your support. I hope you have a great day!" id="future-option-d">Have a great day</button>
            </div>
          </div>
          <!-- End screen four -->

          <div class="w-full hide" id="screen-five">
            <!-- Start screen five -->
            <h2>Screen 5 - Outro</h2>
            <div class="w-full animate__animated animate__fadeIn">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 outro"
                type="submit" value="With much respect and gratitude" id="outro-option-a">With much respect and gratitude</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-1s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 outro"
                type="submit" value=":-)" id="outro-option-b">Smiley face</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-2s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 outro"
                type="submit" value="Best Regards" id="outro-option-c">Best Regards</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-3s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 outro"
                type="submit" value="Warm Regards," id="outro-option-d">Warm Regards</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-4s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 outro"
                type="submit" value="With love,"
                id="outro-option-e">With love,</button>
            </div>
          </div>
          <!-- End screen five -->
          <div class="w-full hide" id="screen-six">
            <!-- Start screen five -->
            <h2>Screen 6</h2>

            <div class="w-full">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 "
                type="button" id="generate">Generate Letter</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Generated Mail section -->
      <div class="flex w-full lg:w-1/2 px-2 animate__animated animate__fadeInUpBig animate__delay-1s">
        <div class="flex-col w-full border border-dark-red overflow-hidden rounded-lg bg-white px-10 text-center py-8">
          <div class="text-6xl text-dark-red mb-6"><i class="fa-solid fa-envelope-circle-check"></i></div>
          <p class="w-full" id="subjectLine">Email Subject</p>
          <br>
          <p class="w-full w-full text-dark-red font-black text-4xl mb-10" id="messageText">This section is where the generated email text will be displayed</p>
          <div class="w-full pt-10" id=""><textarea class="bordder-primary w-full rounded-md border p-10 bg-dark-purple text-white hide" rows="5" cols="50" id="alltext"></textarea></div>
          <br>
          <p class="w-full" id="signature"></p>
              <div class="w-full">
                <button class="max-w-xs float-left border-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 hide" type="button" id="copyBtn"><i class="fa-regular fa-copy"></i> Copy to clipboard</button>
                <button
                  class="max-w-xs float-left border-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 "
                  type="button" id="saveEmail"><i class="fa-regular fa-floppy-disk"></i> Save E-mail</button>
            </div>
        </div>
      </div>

      <!-- History section -->
      <div class="flex w-full md:w-1/2 lg:w-1/4 px-2 animate__animated animate__fadeInUpBig animate__delay-2s">
        <div class="flex-col w-full border border-dark-red overflow-hidden rounded-lg bg-light-gray px-10 text-center py-8">
          <div class="text-6xl text-mauve mb-6"><i class="fa-solid fa-clock-rotate-left"></i></div>
          <h1>History</h1>
          <p id="prevTemplateDescription">History of previously generated email template</p>
          
        </div>
      </div>
    </div>

  </div>
</section>
<script src="/js/appreciation.js"></script>
<script src="/js/copy-clipboard.js"></script>