<section class="flex flex-row justify-center w-full items-start text-center mb-10">
  <div class="container flex flex-row w-full">
    <div class="-mx-4 flex flex-wrap w-full">
      <div class="w-full px-4">
        <h1 class="text-mauve">Page where we will generate the mail templates</h1>
        <p class="text-2xl text-dark-gray">An introductory text to give some
          direction on what is the process of generating a mail</p>
      </div>
    </div>
  </div>
</section>

<section class="flex flex-row justify-center w-full">
  <div class="container flex flex-row">
    <div class="flex -mx-2 mb-8">
      <div class="flex w-full md:w-1/2 lg:w-1/4 px-2">

        <div
          class="flex-col border border-dark-red overflow-hidden rounded-lg bg-white px-5 text-center py-8"
        >
          <div class="text-6xl text-turquoise mb-6">
            <i class="fa-brands fa-atlassian"></i></div>
            <h2>Start the generate email, <span class="text-mauve font-black">{{user.name}}</span></h2>



          <div class="w-full" id="screen-one">
            <!-- Start screen one FORM -->
            <form class="form user-input-form" id="user-input-form">
              <div class="form-group">
                <label class="opacity-0" for="first-name">First Name</label>
                <input
                  class="border-[#E9EDF4] w-full rounded-md border bg-[#FCFDFE] py-3 px-5 text-base text-body-color placeholder-[#ACB6BE] outline-none transition focus:border-primary focus-visible:shadow-none form-input"
                  placeholder="First Name" type="text" value="" id="first-name" required/>
              </div>
              <div class="form-group">
                <label class="opacity-0" for="last-name">Last Name</label>
                <input
                  class="border-[#E9EDF4] w-full rounded-md border bg-[#FCFDFE] py-3 px-5 text-base text-body-color placeholder-[#ACB6BE] outline-none transition focus:border-primary focus-visible:shadow-none form-input"
                  placeholder="Last Name" type="text" value="" id="last-name" required/>
              </div>
              <div class="form-group">
                <label class="opacity-0" for="email-concern">Subject</label>
                <textarea
                  class="border-[#E9EDF4] w-full rounded-md border bg-[#FCFDFE] py-3 px-5 text-base text-body-color placeholder-[#ACB6BE] outline-none transition focus:border-primary focus-visible:shadow-none form-input"
                  rows="4" cols="50" placeholder="Subject" type="text" value="" id="email-concern" required/></textarea>
              </div>
              <div class="form-group">
                <button
                  class="border-primary w-full cursor-pointer rounded-md border bg-green py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 "
                  type="submit" id="submit-screen-one" onclick="generateSubject()">Submit</button>
              </div>
            </form>
          </div> <!-- End screen one -->

          <div class="w-full hide" id="screen-two">
            <!-- Start screen two -->
            <h2>Screen 2 - Intro</h2>
            <div class="w-full animate__animated animate__fadeIn">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-purple py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 intro"
                type="submit" value="Thank you! I was just thinking about you and wanted to send you a note to say hi and thank you." id="intro-option-a">Thinking about you</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-1s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-purple py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 intro"
                type="submit" value="Grand Rising! I just wanted to let you know that you have been such a great friend." id="intro-option-b">You’re a great friend</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-2s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-purple py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 intro"
                type="submit" value="Greetings! I wanted to send you a quick note to say thank you for all that you do." id="intro-option-c">Thanks for all you do</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-3s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-purple py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 intro"
                type="submit"
                value="Hi! I just wanted to say thank you.Thank you for your business, your trust, and your confidence. It is our pleasure to work with you."
                id="intro-option-d">Thank you for your business</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-4s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-purple py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 intro"
                type="submit" value="You crossed my mind this morning and I wanted to send you a note to just let you know I appreciate you." id="intro-option-e">You crossed my mind</button>
            </div>
          </div>
          <!-- End screen two -->

          <div class="w-full hide" id="screen-three">
            <!-- Start screen two -->
            <h2>Screen 3 - body</h2>
            <div class="w-full animate__animated animate__fadeIn">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-gray py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 email-body"
                type="submit" value="Sorry to bother you again," id="body-option-a">Sorry, not sorry. Do your
                job.</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-1s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-gray py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 email-body"
                type="submit" value="Apologies for being unclear." id="body-option-b">A five year old could understand
                this.</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-2s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-gray py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 email-body"
                type="submit"
                value="Can you think of a way we can avoid this in the future?" 
                id="body-option-c">Your mistake was stupid.</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-3s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-gray py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 email-body"
                type="submit" value="Going forward, I would prefer that you"
                id="body-option-d">You messed up. Don’t do it again.</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-4s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-gray py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 email-body"
                type="submit" value="I’m just cc’ing my colleague." id="body-option-d">You’re incompetent, and I’m
                making sure other people are here to
                witness your huge f-up so I don’t get the blame</button>
            </div>
          </div>
          <!-- End screen three -->

          <div class="w-full hide" id="screen-four">
            <!-- Start screen four -->
            <h2>Screen 4 - future</h2>
            <div class="w-full animate__animated animate__fadeIn">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 future"
                type="submit" value="future-option-a" id="future-option-a">Future Option A</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-1s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 future"
                type="submit" value="future-option-b" id="future-option-b">Future Option B</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-2s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 future"
                type="submit" value="future-option-c" id="future-option-c">Future Option C</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-3s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 future"
                type="submit" value="future-option-d" id="future-option-d">Future Option D</button>
            </div>
          </div>
          <!-- End screen four -->

          <div class="w-full hide" id="screen-five">
            <!-- Start screen five -->
            <h2>Screen 5 - Outro</h2>
            <div class="w-full animate__animated animate__fadeIn">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 outro"
                type="submit" value="Thanks in advance." id="outro-option-a">You don’t have a choice.</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-1s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 outro"
                type="submit" value=":)" id="outro-option-b">You’ve really p*#!?d me off.</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-2s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 outro"
                type="submit" value="Awaiting your reply." id="outro-option-c">I needed that answer/document/info
                yesterday, so HURRY UP.</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-3s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 outro"
                type="submit" value="Warm Regards," id="outro-option-d">I didn’t know it was possible to dislike someone
                this much.</button>
            </div>
            <div class="w-full animate__animated animate__fadeIn animate__delay-4s">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 outro"
                type="submit" value="Should you need further clarification, please don’t hesitate to contact me."
                id="outro-option-e">I’m not sure why you’re having such a hard time grasping this
                concept, but please, feel free to pester me to explain it again.</button>
            </div>
          </div>
          <!-- End screen five -->
          <div class="w-full hide" id="screen-six">
            <!-- Start screen five -->
            <h2>Screen 6</h2>

            <div class="w-full animate__animated animate__fadeIn">
              <button
                class="bordder-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 "
                type="button" id="generate">Generate</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Generated Mail section -->
      <div class="flex w-full lg:w-1/2 px-2">
        <div class="flex-col w-full border border-dark-red overflow-hidden rounded-lg bg-white px-10 text-center py-8">
          <div class="text-6xl text-dark-red mb-6"><i class="fa-solid fa-envelope-circle-check"></i></div>
          <p class="w-full" id="subjectLine">Email Subject</p>
          <br>
          <p class="w-full" id="messageText">This section is where the generated email text will be displayed</p>
          <br>
          <p class="w-full" id="signature"></p>
                              <div class="w-full">
              <button
                class="border-primary w-full cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 "
                type="button" id="saveEmail">Save E-mail</button>
            </div>
        </div>
      </div>

      <!-- History section -->
      <div class="flex w-full md:w-1/2 lg:w-1/4 px-2">
        <div class="flex-col border border-dark-red overflow-hidden rounded-lg bg-light-gray px-10 text-center py-8">
          <div class="text-6xl text-mauve mb-6"><i class="fa-solid fa-clock-rotate-left"></i></div>
          <h1>History</h1>
          <p>History of previously generated email template</p>
        </div>
      </div>
    </div>

  </div>
</section>
<script src="/js/appreciation.js"></script>