

<div class="-mx-4 flex flex-wrap">
     <div class="w-full px-4">
          <div class="wow fadeInUp relative mx-auto max-w-[800px] overflow-hidden rounded-lg bg-white py-14 px-20 text-center sm:px-20 md:px-[20px]">  
               email that gets generated - final view 
               <h1>Start the generate email</h1>

               imput prompts with fields
          </div>
     </div>
</div>

<div class="-mx-4 flex flex-wrap">
     <div class="w-full px-4">
          <div class="wow fadeInUp relative mx-auto max-w-[800px] overflow-hidden rounded-lg bg-mauve py-14 px-20 text-center sm:px-20 md:px-[20px]">                 
               <h1>main content area</h1>
               <h2>This is where all the templates will be placed</h2>

               
          </div>
     </div>
</div>

<div class="-mx-4 flex flex-wrap">
     <div class="w-full px-4">
          <div class="wow fadeInUp relative mx-auto max-w-[800px] overflow-hidden rounded-lg bg-white py-14 px-20 text-center sm:px-20 md:px-[20px]">  
               <h2>History</h2>
          </div>
     </div>
</div>