<div class="container">
  <h1>Polite Mail Generator</h1>
  <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Cras fermentum odio eu feugiat pretium nibh. Ultricies mi eget
    mauris pharetra et ultrices neque ornare aenean. Lacinia quis vel eros donec
    ac odio. Tellus mauris a diam maecenas sed enim ut. Justo nec ultrices dui
    sapien. Elementum facilisis leo vel fringilla est ullamcorper eget. Non nisi
    est sit amet facilisis magna etiam tempor. Tempor orci dapibus ultrices in
    iaculis nunc sed. Turpis nunc eget lorem dolor sed viverra ipsum nunc
    aliquet. Non enim praesent elementum facilisis leo vel fringilla est
    ullamcorper. Et malesuada fames ac turpis egestas. Nulla facilisi cras
    fermentum odio eu feugiat pretium nibh ipsum. Tortor dignissim convallis
    aenean et. Diam phasellus vestibulum lorem sed risus ultricies tristique
    nulla aliquet. Sit amet massa vitae tortor condimentum lacinia quis. LOREM
    IPSUM DOLOR SIT AMET Purus in mollis nunc sed id.</p>
  <a href="/generate"><button
      class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-red py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80"
      type="submit"
    >Start your mail</button></a>
</div>