<h1>Login</h1>

<div class="-mx-4 flex flex-wrap">
     <div class="w-full px-4">
          <div class="wow fadeInUp relative mx-auto max-w-[525px] overflow-hidden rounded-lg bg-light-red py-14 px-8 text-center sm:px-12 md:px-[60px]">
               <div class="mb-10 text-center">
                    Logo here
               </div>
               <div>
                    <form class="form login-form">
                         <div class="form-group">
                         <label for="email-login">email:</label>
                         <input class="bordder-[#E9EDF4] w-full rounded-md border bg-[#FCFDFE] py-3 px-5 text-base text-body-color placeholder-[#ACB6BE] outline-none transition focus:border-primary focus-visible:shadow-none form-input" placeholder="Email" type="text" id="email-login" />
                         </div>
                         <div class="form-group">
                         <label for="password-login">password:</label>
                         <input class="bordder-[#E9EDF4] w-full rounded-md border bg-[#FCFDFE] py-3 px-5 text-base text-body-color placeholder-[#ACB6BE] outline-none transition focus:border-primary focus-visible:shadow-none form-input" placeholder="Password" type="password" id="password-login" />
                         </div>
                         <div class="form-group">
                         <button class="bordder-primary w-full cursor-pointer rounded-md border bg-black py-3 px-5 text-base text-white transition duration-300 ease-in-out hover:shadow-md" type="submit">login</button>
                         </div>
                    </form>
               </div>
          </div>
     </div>
</div>
          

<script src="/js/login.js"></script>