{{!-- Selection HB --}}
<div class="-mx-4 flex flex-wrap">
     <div class="w-full px-4">
          <div class="relative mx-auto max-w-[800px] overflow-hidden rounded-lg bg-white py-14 px-20 text-center sm:px-20 md:px-[20px]" id="responsive-padding-vertical">
               <div class="container">
                    <h1 class="text-turquoise font-black animate__animated animate__fadeInDown leading-10 mb-10">You successfully signed-up</h1>
                    
                    <p class="max-w-5xl mx-auto text-center text-2xl text-dark-gray font-semibold mb-5">Now that you are signed in - Select what type of mail you want us to generate for you</p>
                    
                    <h3 class="max-w-5xl mx-auto text-center text-3xl text-dark-red font-semibold mb-5">Get started by </h3>
                    <a class="animated" href="/generate"><button
                         class="ani_heartBeat aniUtil_onMouse bordder-primary max-w-xs cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80"
                         type="submit"
                    >Professional E-Mail</button></a>
                    or by
                    <a href="/appreciation"><button
                         class="ani_heartBeat aniUtil_onMouse bordder-primary max-w-xs cursor-pointer rounded-md border bg-mauve py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80"
                         type="submit"
                    >Appreciation letter</button></a>
               </div>
               
          </div>
     </div>
</div>