<div class="-mx-4 flex flex-wrap">
     <div class="w-full px-4">
          <div
               class="wow fadeInUp relative mx-auto max-w-[800px] overflow-hidden rounded-lg bg-dark-purple py-14 px-20 text-center sm:px-20 md:px-[20px]">
               <h1 class="text-center text-white">Sign Up Form</h1>
               <div class="text-center login-logo animate__animated animate__fadeIn animate__delay-1s">
                    <img src="/images/icon-polite-mail.png" alt="Polite-Mail">
               </div>
               <div>
                    <form class="form signup-form">
                         <div class="form-group">
                              <label class="opacity-0" for="name">Full Name</label>
                              <input
                                   class="bordder-[#E9EDF4] w-full rounded-md border bg-[#FCFDFE] py-3 px-5 text-base text-body-color placeholder-[#ACB6BE] outline-none transition focus:border-primary focus-visible:shadow-none form-input"
                                   placeholder="Name" type="text" id="name-signup" />
                         </div>
                         <div class="form-group">
                              <label class="opacity-0" for="email-login">email:</label>
                              <input
                                   class="bordder-[#E9EDF4] w-full rounded-md border bg-[#FCFDFE] py-3 px-5 text-base text-body-color placeholder-[#ACB6BE] outline-none transition focus:border-primary focus-visible:shadow-none form-input"
                                   placeholder="Email" type="text" id="email-signup" />
                         </div>
                         <div class="form-group">
                              <label class="opacity-0" for="password-login">password:</label>
                              <input
                                   class="bordder-[#E9EDF4] w-full rounded-md border bg-[#FCFDFE] py-3 px-5 text-base text-body-color placeholder-[#ACB6BE] outline-none transition focus:border-primary focus-visible:shadow-none form-input"
                                   placeholder="Password" type="password" id="password-signup" />
                         </div>
                         <div class="form-group">
                              <button
                                   class="bordder-primary w-full cursor-pointer rounded-md border bg-dark-red py-3 my-5 px-5 text-base text-white transition duration-300 ease-in-out hover:opacity-80 "
                                   type="submit">Signup</button>
                         </div>
                    </form>
                    <p>Or <a href="/login">log in here</a></p>
               </div>
          </div>
     </div>
</div>

<script src="/js/signup.js"></script>