:root {
  --dark-red: #9E353A;
  --dark-gray: #525461;
  --light-gray: #d6d6d6;
  --turquoise: #335B7C;
  --mauve: #BD5D5A;
  --dark-purple: #532C86;
  --brown: #B46A29;
  --green: #2B862D;
  --black: #000000;
  --white: #FFFFFF;
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

h1, h2, h3, h3, h5, h6 {
  font-family: 'Noto Serif', serif;
}
.font-nato {
  font-family: 'Noto Serif', serif;
}
h1 {
  font-size: 3em !important;
}

p {
  font-family: 'Roboto Flex', sans-serif;
}

a {
  color: var(--dark);
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:hover {
  color: var(--white);
}

/** background colors **/

.bg-dark-red {
  background-color: var(--dark-red);
}
.bg-dark-gray {
  background-color: var(--dark-gray);
}
.bg-light-gray {
  background-color: var(--light-gray);
}
.bg-turquoise {
  background-color: var(--turquoise);
}
.bg-mauve {
  background-color: var(--mauve);
}
.bg-dark-purple {
  background-color: var(--dark-purple);
}
.bg-brown {
  background-color: var(--brown);
}
.bg-green {
  background-color: var(--green);
}
.bg-white {
  background-color: var(--white);
}
.bg-black {
  background-color: var(--black);
}

/** text colors **/

.text-dark-red {
  color: var(--dark-red);
}
.text-dark-gray {
  color: var(--dark-gray);
}
.text-light-gray {
  color: var(--light-gray);
}
.text-turquoise {
  color: var(--turquoise);
}
.text-mauve {
  color: var(--mauve);
}
.text-dark-purple {
  color: var(--dark-purple);
}
.text-brown {
  color: var(--brown);
}
.text-green {
  color: var(--green);
}
.text-white {
  color: var(--white);
}
.text-black {
  color: var(--black);
}

/** border colors **/

.border-dark-red {
  border-color: var(--dark-red);
  border-width: 2px !important;
}
.border-dark-gray {
  border-color: var(--dark-gray);
  border-width: 2px !important;
}
.border-light-gray {
  border-color: var(--light-gray);
  border-width: 2px !important;
}
.border-turquoise {
  border-color: var(--turquoise);
  border-width: 2px !important;
}
.border-mauve {
  border-color: var(--mauve);
  border-width: 2px !important;
}
.border-dark-purple {
  border-color: var(--dark-purple);
  border-width: 2px !important;
}
.border-brown {
  border-color: var(--brown);
  border-width: 2px !important;
}
.border-green {
  border-color: var(--green);
  border-width: 2px !important;
}
.border-white {
  border-color: var(--white);
  border-width: 2px !important;
}
.border-black {
  border-color: var(--black);
  border-width: 2px !important;
}

header {
  padding: 0 40px;
  background: rgb(83,44,134);
  background: linear-gradient(90deg, rgba(83,44,134,1) 0%, rgba(83,44,134,1) 35%, rgba(189,93,90,1) 100%);
}
#user-login-bar {
  padding: 0 40px 10px;
  background: rgb(83,44,134);
  background: linear-gradient(90deg, rgba(83,44,134,1) 0%, rgba(83,44,134,1) 35%, rgba(189,93,90,1) 100%);
}
.logo img {
  max-width: 80%;
  margin: 10px auto 0;
}
main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--turquoise);
}


nav a {
  color: var(--white);
  text-transform: uppercase;
  font-size: 20px;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
nav a:last-child {
  color: var(--white);
  background-color: var(--dark-purple);
}

nav .btn-logout {
  color: var(--white);
  background-color: var(--dark-purple);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
nav .btn-logout:hover {
  color: var(--black);
}

nav a:visited {
  color: var(--white);
}
nav a:hover {
  color: var(--black);
}
.login-logo img {
  max-width: 100px;
  margin: 30px auto 0;
}

nav .nav-divider {
  position: relative;
  top:8px;
}
#user-login-bar {
  text-align: center;
  position: relative;
  top: -1px;
}
.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*align-items: center;*/
  background-image: url(/images/background-pattern.jpg);
  /* height: 100vh; */
  height: 100%;
  min-height: 100vh;
}

footer {
  background: rgb(83,44,134);
  background: radial-gradient(circle, rgba(83,44,134,1) 0%, rgba(189,93,90,1) 100%);
}
/** Input options **/

.hide {
  display: none;
}
.is-loaded {
  display: block !important;
}


#saveEmail {
  display: none;
}

/** Buttons **/
.primary-button {}
.primary-button:hover {
  animation-name: slideInUp;
}

/** Responsive media queries ***/

@media only screen and (max-width:1023px) {
  #nav-container {
    flex-direction: row;
  }
}

@media only screen and (max-width:991px) {
  header {
    display: block !important;
  }
  #header .logo {
    padding-bottom: 10px;
  }
  #nav-container {
    display: block !important;
    text-align: center;
  }

  nav .nav-divider {
    top: 0px;
  }
}

@media only screen and (max-width:767px) {
  #responsive-padding-vertical {
    padding: 2em 1.5em !important;
  }
}

@media only screen and (max-width:600px) {
  nav a {font-size: 14px;}
  .main-content a {
    display: block;
  }
}